*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-option-menu{
    width: 35vw;
    height: 5vh;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

.button-option-menu:hover{
    cursor: pointer;
    background-color: #505c94;
}

@media(min-width: 425px){
    .button-option-menu{
        width: 25vw;
    }
}

@media(min-width: 768px){
    .button-option-menu{
        width: 20vw;
    }
}

@media(min-width: 1024px){
    .button-option-menu{
        width: 10vw;
    }
}