*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.content-login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
    width: 50%;
}

.login-form{
    border: 1px solid green;
}